<ul>
  <li>See a menu</li>
  <li><%= link_to "Create an order", new_order_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %> </li>
  <li>Login w/ guest code</li>
  <li><%= link_to "See history of momos", "/about", class: "text-blue-500" %></li>
</ul>